.guideGallery {
    text-align: center;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #C0E3A3;    
    margin-top: 3rem;
    margin-bottom: 3rem;
    
}

.guideGallery .guideGalleryCard {
    background-color: #395157;
    margin: 1rem;
    margin-bottom: 2rem;
}

.guideGallery .guideGalleryCard:hover {
    background-color: #395157d8;
    cursor: pointer;
}

.guideGallery .galleryTitle {
    padding: 1.5rem 3rem;
    margin-left: 10%;
    font-size: 2.8em;
    display: flex;
    justify-content: left;
    color: #395157;
}