* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Enriqueta', serif;
}

.homepage-tabs{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: #D9DBC8;
    color: black; 
    border-radius: 10px;
    margin: 2rem;
    gap: 2rem; 
    transition: all 0.3s ease;
}

.homepage-tabs:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #BABABA;
}

.text-right h3 {
    font-size: 3rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    flex: 1; 
    text-align: left;
}

.text-right p {
    font-size: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    flex: 1; 
    text-align: left;
}

.text-left h3 {
    font-size: 3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    flex: 1; 
    text-align: left;
}

.text-left p {
    font-size: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
    flex: 1; 
    text-align: left;
} 

.tab-images {
    display: flex;
    flex: 1; 
    max-width: 50%; 
}
.tab-images img {
    width: 100%;
    height: 20rem;
    object-fit: cover; 
    object-position: center; 
    border-radius: 8px;
}