
.Footer {
  background-color: #395157; 
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  font-size: 16px;
  position: relative; 
  bottom: 0;
  width: 100%;
}

.footerName {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  margin-left: 3rem;
}

.footerDetails {
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: lighter;
  text-align: left;
  margin-top: 1rem;
  margin-left: 3rem;
}

.footerIcon {
  position: absolute;
  top: 30px;          
  right: 3rem;        
  display: flex;
  gap: 2rem;        
  font-size: 3.5rem;
}

.footerIcon a {
  color: #ffffff;
}

.copyright {
  font-size: 0.85rem;
  text-align: left;
}



