* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Enriqueta', serif;
}

.contact-section {
    background-color: #C0E3A3;
    color: #395157;
    padding: 3rem 1.5rem;
    text-align: center;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.form-container {
    max-width: 25rem;
    margin: 0 auto;
    text-align: left;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #395157;
    color: #395157;
    padding: 0.25rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    outline: none;
}

textarea {
    width: 100%;
    max-width: 100%;  /* optional */
    resize: vertical; /* stops left/right resizing */
  }

button {
    background-color: #395157;;
    color: white;
    padding: 0.45rem 2.25rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: left;
}