* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Enriqueta', serif;
}

.middle-section {
    background-color: #FFFBE2;
    color: #395157;
    padding-left: 4rem;
    padding-right: 4rem;
}

.middle-section h3 {
    font-size: 2.75rem;
    font-weight: 400;
    margin-top: 2rem;
    text-align: center;
}